.parte2{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width: 86%;
    height: 59%;
}
.riddle-target-initialised{
    width: 640px;
    height: 117px;
    margin: 0 auto;
}
.custom-logo-ng-scope  {
    float:right;
    margin:0;
    position: static;
    display: block;
    height: 87px;
    width: 130px;
}
.parte2 p{
    
    font-size:18px;
    line-height: 28px;
    letter-spacing: .01em;
    color:#262626;
    font-weight: 300;
}